/* Reset */
*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 70px;
    color: #000000;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    text-align: center;
}

/* header */

header{
    background-color:  brown;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: auto;
    font-size: 150px;
}

nav {
    padding-top: 35px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.product {
    text-align: center;
    background-color: rgb(250, 225, 6);
    font-size: 70px;
}

.testimonial {
    text-align: center;
    background-color: brown;
}












